<html>
   <head>
      <title> Test adobe api</title>
      <meta charset="utf-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <script src="https://acrobatservices.adobe.com/view-sdk/viewer.js"></script>
      <style type="text/css"> 
         .context-menu { 
             position: absolute; 
             text-align: center; 
             background: lightgray; 
             border: 1px solid black; 
         } 
       
         .context-menu ul { 
             padding: 0px; 
             margin: 0px; 
             min-width: 150px; 
             list-style: none; 
         } 
       
         .context-menu ul li { 
             padding-bottom: 7px; 
             padding-top: 7px; 
             border: 1px solid black; 
         } 
       
         .context-menu ul li a { 
             text-decoration: none; 
             color: black; 
         } 
       
         .context-menu ul li:hover { 
             background: darkgray; 
         } 
     </style> 
   </head>
   <body>
      <div id="adobe-dc-view"></div>
      <form action="/upload-file/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate>
         <fieldset>
      <div class="form-group has-error">
  
         <label class="col-sm-2 control-label ">
           File
         </label>
       <div class="col-sm-10">
         <input name="file" id="file-picker"  type="file"  value="" >
         <div class="form-actions">
            <button class="btn btn-primary js-tooltip">POST</button>
          </div>
        </fieldset>
      </form>
      <div id="contextMenu" class="context-menu" 
    style="display: none"> 
    <ul> 
        <li><a href="#">Element-1</a></li> 
        <li><a href="#">Element-2</a></li> 
        <li><a href="#">Element-3</a></li> 
        <li><a href="#">Element-4</a></li> 
        <li><a href="#">Element-5</a></li> 
        <li><a href="#">Element-6</a></li> 
        <li><a href="#">Element-7</a></li> 
    </ul> 
</div> 
      <script>
         window.drf = {
           csrfHeaderName: "X-CSRFTOKEN",
           csrfToken: "sdlPVmZqBSQiKaof2ZaQbvdQBScHktRK4FJNXbQw1xUAx0sIXV8SquvBKzPNhlAq"
         };
       </script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="/static/rest_framework/js/jquery-3.5.1.min.js"></script>
       <script src="/static/rest_framework/js/ajax-form.js"></script>
       <script src="/static/rest_framework/js/csrf.js"></script>
       <script src="/static/rest_framework/js/bootstrap.min.js"></script>
       <script src="/static/rest_framework/js/prettify-min.js"></script>
       <script src="/static/rest_framework/js/default.js"></script>
       <script>
         $(document).ready(function() {
           $('form').ajaxForm();
         });
       </script> 
<script>
   //file upload and preview 
        function listenForFileUpload(){
         var fileToRead = document.getElementById("file-picker");
         fileToRead.addEventListener("change", function(event){
            var files = fileToRead.files;
            if (files.length > 0){
               var reader = new FileReader();
               reader.onloadend = function(e){
                  var filePromise = Promise.resolve(e.target.result);
                  var adobeDCView = new AdobeDC.View({clientId: "ff68d10fae5c4f31b024a66df0c62857"})
                  adobeDCView.previewFile({
                     content:{promise: filePromise},
                     metaData: {fileName: files[0].name}
                  })
               };
               reader.readAsArrayBuffer(files[0]);
            }

         },false)
        }
      listenForFileUpload()

 document.onclick = hideMenu; 
    document.oncontextmenu = rightClick; 
      
    function hideMenu() { 
        document.getElementById("contextMenu") 
                .style.display = "none" 
    } 
  
    function rightClick(e) { 
        e.preventDefault(); 
  
        if (document.getElementById("contextMenu") 
                .style.display == "block") 
            hideMenu(); 
        else{ 
            var menu = document.getElementById("contextMenu")  
            menu.style.display = 'block'; 
            menu.style.left = e.pageX + "px"; 
            menu.style.top = e.pageY + "px"; 
        } 
    } 

    //text select and extract
    function handleHighlightSelection() {
    var selection = document.getSelection();
    var range = selection.getRangeAt(0);
    var rects = range.getClientRects(); // Get the coordinates of the selected text

    // Send the coordinates to the server via AJAX
    var data = {
        rects: rects,
        pdf_file: "example.pdf", // Provide the path to the PDF file
        page_number: 1 // Provide the page number of the PDF where the selection was made
        // You can also send additional information such as user ID, etc.
  
   //      jQuery.ajax({
   //      type: "POST",
   //      url: "/extract_text_from_region",
   //      data: JSON.stringify(data),
   //      contentType: "application/json",
   //      success: function(response) {
   //          // Handle the response from the server
   //          console.log(response);
   //      }
   //  });
      };
      console.log(data)
   }
   // Example using jQuery to attach event listener
   document.addEventListener("mouseup", handleHighlightSelection);

      </script>
   </body>
</html>